body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: pink;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.content {
    max-width: 90%;
}
.message {
    font-size: 3em;
    color: white;
    text-shadow: 4px 4px 0px black, 8px 8px 0px red;
    animation: glow 1.5s infinite alternate;
}
.monthsary-image {
    margin-top: 20px;
    width: 80%;
    max-width: 300px;
    height: auto;
}
@media (max-width: 768px) {
    .message {
        font-size: 1.8em;
    }
    .monthsary-image {
        width: 90%;
    }
}
@keyframes glow {
    0% { text-shadow: 4px 4px 0px black, 8px 8px 0px red; }
    100% { text-shadow: 6px 6px 0px black, 12px 12px 0px red; }
}
.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(-45deg);
    animation: float 4s linear infinite;
}
.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}
.heart::before {
    top: -10px;
    left: 0;
}
.heart::after {
    left: 10px;
    top: 0;
}
@keyframes float {
    0% { transform: translateY(0) rotate(-45deg); opacity: 1; }
    100% { transform: translateY(-100vh) rotate(-45deg); opacity: 0; }
}
